In [1]:
#1. Create a DataFrame in 5 different ways
#1) FROM A NumPy ARRAY:
import pandas as pd
import numpy as np

data =np.array([['Neha',20,'USA'],
                ['Alan',25,'London'],
                ['Laila', 26, 'korea'],
                ['Jennie',30,'Thailand']])
df=pd.DataFrame(data, columns=['Name', 'Age', 'City'])
df

     Name Age      City
0    Neha  20       USA
1    Alan  25    London
2   Laila  26     korea
3  Jennie  30  Thailand

In [2]:
#2) from a dictionary of lists or arrays:
data ={
    'Name': ['Neha','Alan','Laila','Jennie'],
    'Age':[20,25,26,30],
    'City':['USA','London','Korea','Thailand']
}
df =pd.DataFrame(data)
df

     Name  Age      City
0    Neha   20       USA
1    Alan   25    London
2   Laila   26     Korea
3  Jennie   30  Thailand

In [3]:
#3)from a list of tuples:
data =[('Neha',20,'USA'),
       ('Alan',25,'London'),
       ('Laila',26,'Korea'),
       ('Jennie',30,'Thailand')]
df =pd.DataFrame(data, columns=['Name','Age','City'])
df

     Name  Age      City
0    Neha   20       USA
1    Alan   25    London
2   Laila   26     Korea
3  Jennie   30  Thailand

In [4]:
#4) FROM A LIST OF DICTIONARIES:
data =[{'Name':'Neha','Age':20,'City':'USA'},
       {'Name':'Alan','Age':25,'City':'London'},
       {'Name':'Laila','Age':26,'City':'Korea'},
       {'Name':'Jennie','Age':30,'City':'Thailand'}
      ]
df =pd.DataFrame(data)
df

     Name  Age      City
0    Neha   20       USA
1    Alan   25    London
2   Laila   26     Korea
3  Jennie   30  Thailand

In [5]:
#5) FROM A CSV FILE:
df=pd.read_csv("data.csv")
df

     Name  Age      City
0    Neha   20       USA
1    Alan   25    London
2   Laila   26     Korea
3  Jennie   30  Thailand

In [6]:
#Convert a dataframe to an Excel file:
data ={
    'Name':['Neha','Alan','Jennie'],
    'Age':[20,25,30],
    'City':['USA','London','Thailand']
}
df=pd.DataFrame(data)
excel_file ='Downloads/Excel_Sample.xlsx'
df.to_excel(excel_file, index=False)
excel_file

'Downloads/Excel_Sample.xlsx'

In [7]:
#What Is Time Delta?
#Time delta refers to a duration expressing the difference between two specific time or dates.
#it represent a span of time, often in a precise manner,allowing for calculations involving dates and times.


from datetime import datetime, timedelta
now = datetime.now()

delta = timedelta(days=10)

future_date =now + delta
str(now)

'2024-07-03 11:41:17.415027'

In [8]:
str(future_date)

'2024-07-13 11:41:17.415027'

In [10]:
# How to read text files with dataframe
import pandas as pd
df =pd.read_csv('data.csv')
df.head()

     Name  Age      City
0    Neha   20       USA
1    Alan   25    London
2   Laila   26     Korea
3  Jennie   30  Thailand

In [11]:
#Import a Sales dataset which has some missing values in it, from Github or Kaggle
import pandas as pd
df=pd.read_csv('Downloads/online_car-sales.csv')
df

,Unnamed: 0,unnamed,customer_id,advertisement_number,brand,model,variant,year,kilometer,color,transmission,fuel,city,ad_date,price
0,0,89732,5e179871bc3087fa6cb10a21,777375802,Volkswagen,Golf,1.6 FSi Midline,2005,186.0,dark_red,manual,gasoline,Istanbul,2/28/2023,308.75 TL
1,1,89733,5e179871bc3087fa6cb10a22,777255310,Volkswagen,Golf,1.2 TSI Midline Plus,2016,13.6,red,manual,gasoline,Izmir,2/12/2023,705.25 TL
2,2,89734,5e179871bc3087fa6cb10a23,776963108,Volkswagen,Jetta,1.2 TSI Trendline,2012,108.0,white,manual,gasoline,Erzurum,2/23/2023,468.0 TL
3,3,89735,5e179871bc3087fa6cb10a24,776938945,Volkswagen,Jetta,1.4 TSI Comfortline,2008,157.0,blue,manual,gasoline,Kutahya,2/14/2023,422.5 TL
4,4,89736,5e179871bc3087fa6cb10a25,776932300,Volkswagen,Jetta,1.2 TSI Trendline,2012,127.0,silver_gray,manual,gasoline,Kutahya,2/1/2023,507.0 TL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7595,7213,96945,5e179871bc3087fa6cb1264e,776235355,Volkswagen,Golf,1.6 CL,1983,214.0,gray,automatic,diesel,Bursa,1/19/2023,141.375 TL
7596,7214,96946,5e179871bc3087fa6cb1264f,777032329,Volkswagen,Passat,1.9 TDi Comfortline,1999,402.0,white,automatic,diesel,Ankara,3/19/2023,225.875 TL
7597,7215,96947,5e179871bc3087fa6cb12650,776194570,Volkswagen,Golf,1.9 TDi,1999,304.0,black,automatic,diesel,Eskisehir,2/17/2023,215.8 TL
7598,7216,96948,5e179871bc3087fa6cb12651,776192374,Volkswagen,Passat,2.0 TDi BlueMotion Highline,2012,185.0,gray,automatic,diesel,Ankara,2/4/2023,792.35 TL
7599,7216,96948,5e179871bc3087fa6cb12651,776192374,Volkswagen,Passat,2.0 TDi BlueMotion Highline,2012,185.0,gray,automatic,diesel,Ankara,2/4/2023,792.35 TL

In [12]:
# Sort your sales data:+
sorted_df =df.sort_values(by='customer_id')
sorted_df

,Unnamed: 0,unnamed,customer_id,advertisement_number,brand,model,variant,year,kilometer,color,transmission,fuel,city,ad_date,price
0,0,89732,5e179871bc3087fa6cb10a21,777375802,Volkswagen,Golf,1.6 FSi Midline,2005,186.000,dark_red,manual,gasoline,Istanbul,2/28/2023,308.75 TL
1,1,89733,5e179871bc3087fa6cb10a22,777255310,Volkswagen,Golf,1.2 TSI Midline Plus,2016,13.600,red,manual,gasoline,Izmir,2/12/2023,705.25 TL
2,2,89734,5e179871bc3087fa6cb10a23,776963108,Volkswagen,Jetta,1.2 TSI Trendline,2012,108.000,white,manual,gasoline,Erzurum,2/23/2023,468.0 TL
3,3,89735,5e179871bc3087fa6cb10a24,776938945,Volkswagen,Jetta,1.4 TSI Comfortline,2008,157.000,blue,manual,gasoline,Kutahya,2/14/2023,422.5 TL
4,4,89736,5e179871bc3087fa6cb10a25,776932300,Volkswagen,Jetta,1.2 TSI Trendline,2012,127.000,silver_gray,manual,gasoline,Kutahya,2/1/2023,507.0 TL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7521,7521,97235,NaN,566938496,Volkswagen,Passat,1.6 TDi BlueMotion Impression,2017,11.700,white,automatic,diesel,Diyarbakir,2/14/2023,1255.25 TL
7522,7522,97236,NaN,766995673,Volkswagen,Passat,1.9 TDi,1998,365.000,green,automatic,diesel,Istanbul,1/29/2023,185.25 TL
7523,7523,97237,NaN,767004227,Volkswagen,Passat,1.6 TDi BlueMotion R Line,2016,48.000,blue,automatic,diesel,Ankara,1/10/2023,1477.75 TL
7524,7524,97238,NaN,766943189,Volkswagen,Passat,1.9 TDi Comfortline,2004,322.475,silver_gray,automatic,diesel,Kahramanmaras,2/7/2023,338.0 TL
7525,7525,97240,NaN,755900330,Volkswagen,Passat,1.9 TDi Comfortline,2003,290.000,silver_gray,automatic,diesel,Ankara,3/22/2023,282.75 TL

In [13]:
# Merge two columns in your dataset.
data ={
    'brand':['Volkswagen', 'Volkswagen', 'Volkswagen'],
    'model':['Golf','Passat','jetta']
}
df =pd.DataFrame(data)
df['car'] =df['brand']+ ' ' +df['model']
df

        brand   model                car
0  Volkswagen    Golf    Volkswagen Golf
1  Volkswagen  Passat  Volkswagen Passat
2  Volkswagen   jetta   Volkswagen jetta

In [14]:
#Find all unique values in a column.
data={
    'unnamed':[0,1,7524	,7525,4],
    'color':['dark_red' , 'red', 'silver_grey','silver_grey','silver_grey']
}
df=pd.DataFrame(data)
df

   unnamed        color
0        0     dark_red
1        1          red
2     7524  silver_grey
3     7525  silver_grey
4        4  silver_grey

In [12]:
# Delete an unnecessary column in dataframe
df=df.drop(columns=['advertisement_number'])
df

,level_0,new_index,customer_id,brand,model,variant,year,kilometer,color,transmission,fuel,city,ad_date,price,model_length
0,0,0,89732,Volkswagen,Golf,1.6 FSi Midline,2005,186.00,dark_red,manual,gasoline,Istanbul,2/28/2023,308.750,4
1,1,1,89733,Volkswagen,Golf,1.2 TSI Midline Plus,2016,13.60,red,manual,gasoline,Izmir,2/12/2023,705.250,4
2,2,2,89734,Volkswagen,Jetta,1.2 TSI Trendline,2012,108.00,white,manual,gasoline,Erzurum,2/23/2023,468.000,5
3,3,3,89735,Volkswagen,Jetta,1.4 TSI Comfortline,2008,157.00,blue,manual,gasoline,Kutahya,2/14/2023,422.500,5
4,4,4,89736,Volkswagen,Jetta,1.2 TSI Trendline,2012,127.00,silver_gray,manual,gasoline,Kutahya,2/1/2023,507.000,5
5,5,5,89737,Volkswagen,Jetta,1.6 FSi Midline,2007,176.00,silver_gray,manual,gasoline,Tokat,3/28/2023,363.300,5
6,6,6,89738,Volkswagen,Jetta,1.6 FSi Midline,2007,146.00,silver_gray,manual,gasoline,Kahramanmaras,2/28/2023,377.000,5
7,7,7,89739,Volkswagen,Golf,1.2 TSI Comfortline,2015,53.00,red,manual,gasoline,Trabzon,3/27/2023,877.500,4
8,8,8,89740,Volkswagen,Golf,1.2 TSI Comfortline,2014,52.00,white,manual,gasoline,Mersin,1/14/2023,805.350,4
9,9,9,89741,Volkswagen,Passat,1.4 TSI BlueMotion Comfortline,2013,80.00,black,manual,gasoline,Giresun,1/8/2023,828.750,6
10,10,10,89742,Volkswagen,Passat,1.4 TSI BlueMotion Trendline,2013,79.85,black,manual,gasoline,Gaziantep,1/28/2023,695.500,6
11,11,11,89743,Volkswagen,Golf,1.6 FSi Midline,2005,105.00,silver_gray,manual,gasoline,Bursa,1/4/2023,364.000,4
12,12,12,89744,Volkswagen,Polo,1.4 Comfortline,2010,90.00,black,manual,gasoline,Adiyaman,1/7/2023,422.500,4
13,13,13,89745,Volkswagen,Jetta,1.2 TSI BlueMotion Comfortline,2016,74.00,white,manual,gasoline,Gaziantep,2/14/2023,773.500,5
14,14,14,89746,Volkswagen,Golf,1.6 FSi Sportline,2004,193.00,blue,manual,gasoline,Kayseri,3/19/2023,266.500,4
15,15,15,89747,Volkswagen,Polo,1.2 TSI Comfortline,2015,66.00,white,manual,gasoline,Nigde,1/19/2023,633.750,4
16,16,16,89748,Volkswagen,Passat,1.4 TSI BlueMotion Highline,2015,61.00,black,manual,gasoline,Kayseri,2/19/2023,1049.750,6
17,17,17,89749,Volkswagen,Passat,1.6 FSi Comfortline,2006,88.00,black,manual,gasoline,Denizli,3/20/2023,467.675,6
18,18,18,89750,Volkswagen,Jetta,1.4 TSI Comfortline,2007,207.00,silver_gray,manual,gasoline,Istanbul,3/7/2023,368.875,5
19,19,19,89751,Volkswagen,Jetta,1.4 TSI Comfortline,2012,99.00,white,manual,gasoline,Istanbul,2/13/2023,487.175,5
20,20,20,89752,Volkswagen,Polo,1.0 Trendline,2017,4.20,white,manual,gasoline,Kastamonu,1/5/2023,640.250,4

In [13]:
# Create an index if you don’t have one and rename it as well
if df.index.name is None:
    df =df.reset_index()

df =df.rename(columns={'index': 'new_index'})
df

,new_index,level_0,new_index,customer_id,brand,model,variant,year,kilometer,color,transmission,fuel,city,ad_date,price,model_length
0,0,0,0,89732,Volkswagen,Golf,1.6 FSi Midline,2005,186.00,dark_red,manual,gasoline,Istanbul,2/28/2023,308.750,4
1,1,1,1,89733,Volkswagen,Golf,1.2 TSI Midline Plus,2016,13.60,red,manual,gasoline,Izmir,2/12/2023,705.250,4
2,2,2,2,89734,Volkswagen,Jetta,1.2 TSI Trendline,2012,108.00,white,manual,gasoline,Erzurum,2/23/2023,468.000,5
3,3,3,3,89735,Volkswagen,Jetta,1.4 TSI Comfortline,2008,157.00,blue,manual,gasoline,Kutahya,2/14/2023,422.500,5
4,4,4,4,89736,Volkswagen,Jetta,1.2 TSI Trendline,2012,127.00,silver_gray,manual,gasoline,Kutahya,2/1/2023,507.000,5
5,5,5,5,89737,Volkswagen,Jetta,1.6 FSi Midline,2007,176.00,silver_gray,manual,gasoline,Tokat,3/28/2023,363.300,5
6,6,6,6,89738,Volkswagen,Jetta,1.6 FSi Midline,2007,146.00,silver_gray,manual,gasoline,Kahramanmaras,2/28/2023,377.000,5
7,7,7,7,89739,Volkswagen,Golf,1.2 TSI Comfortline,2015,53.00,red,manual,gasoline,Trabzon,3/27/2023,877.500,4
8,8,8,8,89740,Volkswagen,Golf,1.2 TSI Comfortline,2014,52.00,white,manual,gasoline,Mersin,1/14/2023,805.350,4
9,9,9,9,89741,Volkswagen,Passat,1.4 TSI BlueMotion Comfortline,2013,80.00,black,manual,gasoline,Giresun,1/8/2023,828.750,6
10,10,10,10,89742,Volkswagen,Passat,1.4 TSI BlueMotion Trendline,2013,79.85,black,manual,gasoline,Gaziantep,1/28/2023,695.500,6
11,11,11,11,89743,Volkswagen,Golf,1.6 FSi Midline,2005,105.00,silver_gray,manual,gasoline,Bursa,1/4/2023,364.000,4
12,12,12,12,89744,Volkswagen,Polo,1.4 Comfortline,2010,90.00,black,manual,gasoline,Adiyaman,1/7/2023,422.500,4
13,13,13,13,89745,Volkswagen,Jetta,1.2 TSI BlueMotion Comfortline,2016,74.00,white,manual,gasoline,Gaziantep,2/14/2023,773.500,5
14,14,14,14,89746,Volkswagen,Golf,1.6 FSi Sportline,2004,193.00,blue,manual,gasoline,Kayseri,3/19/2023,266.500,4
15,15,15,15,89747,Volkswagen,Polo,1.2 TSI Comfortline,2015,66.00,white,manual,gasoline,Nigde,1/19/2023,633.750,4
16,16,16,16,89748,Volkswagen,Passat,1.4 TSI BlueMotion Highline,2015,61.00,black,manual,gasoline,Kayseri,2/19/2023,1049.750,6
17,17,17,17,89749,Volkswagen,Passat,1.6 FSi Comfortline,2006,88.00,black,manual,gasoline,Denizli,3/20/2023,467.675,6
18,18,18,18,89750,Volkswagen,Jetta,1.4 TSI Comfortline,2007,207.00,silver_gray,manual,gasoline,Istanbul,3/7/2023,368.875,5
19,19,19,19,89751,Volkswagen,Jetta,1.4 TSI Comfortline,2012,99.00,white,manual,gasoline,Istanbul,2/13/2023,487.175,5
20,20,20,20,89752,Volkswagen,Polo,1.0 Trendline,2017,4.20,white,manual,gasoline,Kastamonu,1/5/2023,640.250,4

In [19]:
#. Find the row for which the value of a specific column is max.
max_price_row =df.loc[max_price_index]
max_price_row

new_index                                16
level_0                                  16
new_index                                16
customer_id                           89748
brand                            Volkswagen
model                                Passat
variant         1.4 TSI BlueMotion Highline
year                                   2015
kilometer                              61.0
color                                 black
transmission                         manual
fuel                               gasoline
city                                Kayseri
ad_date                           2/19/2023
price                               1049.75
model_length                              6
Name: 16, dtype: object

In [20]:
# Find the average of the sales in your sales column
average_price = df['price'].mean()
average_price

563.4702380952381

In [23]:
#. Replace a value with some other value in a row on a column
new_model_value = 'New Model'
df.at[0, 'model'] = new_model_value
df

,new_index,level_0,new_index,customer_id,brand,model,variant,year,kilometer,color,transmission,fuel,city,ad_date,price,model_length
0,0,0,0,89732,Volkswagen,New Model,1.6 FSi Midline,2005,186.00,dark_red,manual,gasoline,Istanbul,2/28/2023,308.750,4
1,1,1,1,89733,Volkswagen,Golf,1.2 TSI Midline Plus,2016,13.60,red,manual,gasoline,Izmir,2/12/2023,705.250,4
2,2,2,2,89734,Volkswagen,Jetta,1.2 TSI Trendline,2012,108.00,white,manual,gasoline,Erzurum,2/23/2023,468.000,5
3,3,3,3,89735,Volkswagen,Jetta,1.4 TSI Comfortline,2008,157.00,blue,manual,gasoline,Kutahya,2/14/2023,422.500,5
4,4,4,4,89736,Volkswagen,Jetta,1.2 TSI Trendline,2012,127.00,silver_gray,manual,gasoline,Kutahya,2/1/2023,507.000,5
5,5,5,5,89737,Volkswagen,Jetta,1.6 FSi Midline,2007,176.00,silver_gray,manual,gasoline,Tokat,3/28/2023,363.300,5
6,6,6,6,89738,Volkswagen,Jetta,1.6 FSi Midline,2007,146.00,silver_gray,manual,gasoline,Kahramanmaras,2/28/2023,377.000,5
7,7,7,7,89739,Volkswagen,Golf,1.2 TSI Comfortline,2015,53.00,red,manual,gasoline,Trabzon,3/27/2023,877.500,4
8,8,8,8,89740,Volkswagen,Golf,1.2 TSI Comfortline,2014,52.00,white,manual,gasoline,Mersin,1/14/2023,805.350,4
9,9,9,9,89741,Volkswagen,Passat,1.4 TSI BlueMotion Comfortline,2013,80.00,black,manual,gasoline,Giresun,1/8/2023,828.750,6
10,10,10,10,89742,Volkswagen,Passat,1.4 TSI BlueMotion Trendline,2013,79.85,black,manual,gasoline,Gaziantep,1/28/2023,695.500,6
11,11,11,11,89743,Volkswagen,Golf,1.6 FSi Midline,2005,105.00,silver_gray,manual,gasoline,Bursa,1/4/2023,364.000,4
12,12,12,12,89744,Volkswagen,Polo,1.4 Comfortline,2010,90.00,black,manual,gasoline,Adiyaman,1/7/2023,422.500,4
13,13,13,13,89745,Volkswagen,Jetta,1.2 TSI BlueMotion Comfortline,2016,74.00,white,manual,gasoline,Gaziantep,2/14/2023,773.500,5
14,14,14,14,89746,Volkswagen,Golf,1.6 FSi Sportline,2004,193.00,blue,manual,gasoline,Kayseri,3/19/2023,266.500,4
15,15,15,15,89747,Volkswagen,Polo,1.2 TSI Comfortline,2015,66.00,white,manual,gasoline,Nigde,1/19/2023,633.750,4
16,16,16,16,89748,Volkswagen,Passat,1.4 TSI BlueMotion Highline,2015,61.00,black,manual,gasoline,Kayseri,2/19/2023,1049.750,6
17,17,17,17,89749,Volkswagen,Passat,1.6 FSi Comfortline,2006,88.00,black,manual,gasoline,Denizli,3/20/2023,467.675,6
18,18,18,18,89750,Volkswagen,Jetta,1.4 TSI Comfortline,2007,207.00,silver_gray,manual,gasoline,Istanbul,3/7/2023,368.875,5
19,19,19,19,89751,Volkswagen,Jetta,1.4 TSI Comfortline,2012,99.00,white,manual,gasoline,Istanbul,2/13/2023,487.175,5
20,20,20,20,89752,Volkswagen,Polo,1.0 Trendline,2017,4.20,white,manual,gasoline,Kastamonu,1/5/2023,640.250,4

In [24]:
#. Fill all the missing values with in your dataset with an integer value or a string
df.fillna(value={'year': 0, 'kilometer': 0, 'price': 0}, inplace=True)
df.fillna(value={'customer_id': 'Unknown'}, inplace=True)
df

,new_index,level_0,new_index,customer_id,brand,model,variant,year,kilometer,color,transmission,fuel,city,ad_date,price,model_length
0,0,0,0,89732,Volkswagen,New Model,1.6 FSi Midline,2005,186.00,dark_red,manual,gasoline,Istanbul,2/28/2023,308.750,4
1,1,1,1,89733,Volkswagen,Golf,1.2 TSI Midline Plus,2016,13.60,red,manual,gasoline,Izmir,2/12/2023,705.250,4
2,2,2,2,89734,Volkswagen,Jetta,1.2 TSI Trendline,2012,108.00,white,manual,gasoline,Erzurum,2/23/2023,468.000,5
3,3,3,3,89735,Volkswagen,Jetta,1.4 TSI Comfortline,2008,157.00,blue,manual,gasoline,Kutahya,2/14/2023,422.500,5
4,4,4,4,89736,Volkswagen,Jetta,1.2 TSI Trendline,2012,127.00,silver_gray,manual,gasoline,Kutahya,2/1/2023,507.000,5
5,5,5,5,89737,Volkswagen,Jetta,1.6 FSi Midline,2007,176.00,silver_gray,manual,gasoline,Tokat,3/28/2023,363.300,5
6,6,6,6,89738,Volkswagen,Jetta,1.6 FSi Midline,2007,146.00,silver_gray,manual,gasoline,Kahramanmaras,2/28/2023,377.000,5
7,7,7,7,89739,Volkswagen,Golf,1.2 TSI Comfortline,2015,53.00,red,manual,gasoline,Trabzon,3/27/2023,877.500,4
8,8,8,8,89740,Volkswagen,Golf,1.2 TSI Comfortline,2014,52.00,white,manual,gasoline,Mersin,1/14/2023,805.350,4
9,9,9,9,89741,Volkswagen,Passat,1.4 TSI BlueMotion Comfortline,2013,80.00,black,manual,gasoline,Giresun,1/8/2023,828.750,6
10,10,10,10,89742,Volkswagen,Passat,1.4 TSI BlueMotion Trendline,2013,79.85,black,manual,gasoline,Gaziantep,1/28/2023,695.500,6
11,11,11,11,89743,Volkswagen,Golf,1.6 FSi Midline,2005,105.00,silver_gray,manual,gasoline,Bursa,1/4/2023,364.000,4
12,12,12,12,89744,Volkswagen,Polo,1.4 Comfortline,2010,90.00,black,manual,gasoline,Adiyaman,1/7/2023,422.500,4
13,13,13,13,89745,Volkswagen,Jetta,1.2 TSI BlueMotion Comfortline,2016,74.00,white,manual,gasoline,Gaziantep,2/14/2023,773.500,5
14,14,14,14,89746,Volkswagen,Golf,1.6 FSi Sportline,2004,193.00,blue,manual,gasoline,Kayseri,3/19/2023,266.500,4
15,15,15,15,89747,Volkswagen,Polo,1.2 TSI Comfortline,2015,66.00,white,manual,gasoline,Nigde,1/19/2023,633.750,4
16,16,16,16,89748,Volkswagen,Passat,1.4 TSI BlueMotion Highline,2015,61.00,black,manual,gasoline,Kayseri,2/19/2023,1049.750,6
17,17,17,17,89749,Volkswagen,Passat,1.6 FSi Comfortline,2006,88.00,black,manual,gasoline,Denizli,3/20/2023,467.675,6
18,18,18,18,89750,Volkswagen,Jetta,1.4 TSI Comfortline,2007,207.00,silver_gray,manual,gasoline,Istanbul,3/7/2023,368.875,5
19,19,19,19,89751,Volkswagen,Jetta,1.4 TSI Comfortline,2012,99.00,white,manual,gasoline,Istanbul,2/13/2023,487.175,5
20,20,20,20,89752,Volkswagen,Polo,1.0 Trendline,2017,4.20,white,manual,gasoline,Kastamonu,1/5/2023,640.250,4

In [25]:
# Learn what is interpolate in Filling missing values
df['year'] = df['year'].interpolate(method='linear')
df['price'] = df['price'].interpolate(method='linear')
df

,new_index,level_0,new_index,customer_id,brand,model,variant,year,kilometer,color,transmission,fuel,city,ad_date,price,model_length
0,0,0,0,89732,Volkswagen,New Model,1.6 FSi Midline,2005,186.00,dark_red,manual,gasoline,Istanbul,2/28/2023,308.750,4
1,1,1,1,89733,Volkswagen,Golf,1.2 TSI Midline Plus,2016,13.60,red,manual,gasoline,Izmir,2/12/2023,705.250,4
2,2,2,2,89734,Volkswagen,Jetta,1.2 TSI Trendline,2012,108.00,white,manual,gasoline,Erzurum,2/23/2023,468.000,5
3,3,3,3,89735,Volkswagen,Jetta,1.4 TSI Comfortline,2008,157.00,blue,manual,gasoline,Kutahya,2/14/2023,422.500,5
4,4,4,4,89736,Volkswagen,Jetta,1.2 TSI Trendline,2012,127.00,silver_gray,manual,gasoline,Kutahya,2/1/2023,507.000,5
5,5,5,5,89737,Volkswagen,Jetta,1.6 FSi Midline,2007,176.00,silver_gray,manual,gasoline,Tokat,3/28/2023,363.300,5
6,6,6,6,89738,Volkswagen,Jetta,1.6 FSi Midline,2007,146.00,silver_gray,manual,gasoline,Kahramanmaras,2/28/2023,377.000,5
7,7,7,7,89739,Volkswagen,Golf,1.2 TSI Comfortline,2015,53.00,red,manual,gasoline,Trabzon,3/27/2023,877.500,4
8,8,8,8,89740,Volkswagen,Golf,1.2 TSI Comfortline,2014,52.00,white,manual,gasoline,Mersin,1/14/2023,805.350,4
9,9,9,9,89741,Volkswagen,Passat,1.4 TSI BlueMotion Comfortline,2013,80.00,black,manual,gasoline,Giresun,1/8/2023,828.750,6
10,10,10,10,89742,Volkswagen,Passat,1.4 TSI BlueMotion Trendline,2013,79.85,black,manual,gasoline,Gaziantep,1/28/2023,695.500,6
11,11,11,11,89743,Volkswagen,Golf,1.6 FSi Midline,2005,105.00,silver_gray,manual,gasoline,Bursa,1/4/2023,364.000,4
12,12,12,12,89744,Volkswagen,Polo,1.4 Comfortline,2010,90.00,black,manual,gasoline,Adiyaman,1/7/2023,422.500,4
13,13,13,13,89745,Volkswagen,Jetta,1.2 TSI BlueMotion Comfortline,2016,74.00,white,manual,gasoline,Gaziantep,2/14/2023,773.500,5
14,14,14,14,89746,Volkswagen,Golf,1.6 FSi Sportline,2004,193.00,blue,manual,gasoline,Kayseri,3/19/2023,266.500,4
15,15,15,15,89747,Volkswagen,Polo,1.2 TSI Comfortline,2015,66.00,white,manual,gasoline,Nigde,1/19/2023,633.750,4
16,16,16,16,89748,Volkswagen,Passat,1.4 TSI BlueMotion Highline,2015,61.00,black,manual,gasoline,Kayseri,2/19/2023,1049.750,6
17,17,17,17,89749,Volkswagen,Passat,1.6 FSi Comfortline,2006,88.00,black,manual,gasoline,Denizli,3/20/2023,467.675,6
18,18,18,18,89750,Volkswagen,Jetta,1.4 TSI Comfortline,2007,207.00,silver_gray,manual,gasoline,Istanbul,3/7/2023,368.875,5
19,19,19,19,89751,Volkswagen,Jetta,1.4 TSI Comfortline,2012,99.00,white,manual,gasoline,Istanbul,2/13/2023,487.175,5
20,20,20,20,89752,Volkswagen,Polo,1.0 Trendline,2017,4.20,white,manual,gasoline,Kastamonu,1/5/2023,640.250,4

In [26]:
# Learn grouping datasets:
#Grouping datasets in pandas involves splitting the data into groups based on some criteria,
#applying a function to each group independently, and then combining the results into a new data structure.\
#This is often useful for performing aggregate operations on subsets of data, especially when dealing with large datasets.

In [27]:
#step by step grouping data set:
#1. Creating a DataFrame
import pandas as pd
import numpy as np
data = {
    'Category': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'A', 'B', 'A'],
    'Value': [10, 15, 20, 25, 30, 35, 40, 45, 50, 55]
}

df = pd.DataFrame(data)
df

  Category  Value
0        A     10
1        B     15
2        A     20
3        B     25
4        A     30
5        B     35
6        A     40
7        A     45
8        B     50
9        A     55

In [29]:
#2. Grouping by a Column
grouped = df.groupby('Category')
grouped

In [30]:
#3. Iterating Over Groups:
for name, group in grouped:
    print("Category:", name)
    print(group)
    print()

Category: A
  Category  Value
0        A     10
2        A     20
4        A     30
6        A     40
7        A     45
9        A     55

Category: B
  Category  Value
1        B     15
3        B     25
5        B     35
8        B     50

In [31]:
#4. Applying Aggregate Functions:
sums = grouped.sum()
sums

          Value
Category
A           200
B           125

In [32]:
#5. Accessing Specific Groups
group_A = grouped.get_group('A')
group_A

  Category  Value
0        A     10
2        A     20
4        A     30
6        A     40
7        A     45
9        A     55

In [33]:
#6. Custom Aggregation Functions:
def custom_agg(arr):
    return arr.max() - arr.min()

custom_aggregation = grouped.agg(custom_agg)
custom_aggregation

          Value
Category
A            45
B            35

In [34]:
#7. Applying Multiple Functions
aggregated = grouped.agg(['sum', 'mean', 'max'])
aggregated

         Value
           sum       mean max
Category
A          200  33.333333  55
B          125  31.250000  50

In [35]:
#8. Resetting Index
aggregated = aggregated.reset_index()
aggregated

  Category Value
             sum       mean max
0        A   200  33.333333  55
1        B   125  31.250000  50